body {
    height: 100vh;
    background-image: url("/images/skybg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}

.card {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    backdrop-filter: blur(20px);
    border-color: #FF8C00;
}

.card-header,
.card-footer {
    background-color: rgba(0, 0, 0, 0);
}