body {
  height: 100vh;
  background-image: url("/images/skybg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
}

.card {
  background-image: linear-gradient(to left, #ffecd2 0%, #fcb69f 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-color: #FF8C00;
}